<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <title>Document</title>
</head>
<body>

    <div align="center">
      <div class="columns">
        <div class="column"></div>
        <div class="column">
          <div class="card p-5">
            <h1 class='title'>Pago</h1>

            <form action="<%=url%>" method="post" >
                <input type="hidden" name="token_ws" value="<%=token%>"/>
                <button class='button is-primary'>Pagar</button>
            </form>
        </div>
    </div>
    <div class="column"></div>
</body>
</html>